body {
  font: 10pt Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body#popup{
  min-width: 357px;
  max-width: 400px;
}

body#options{
  margin: 2em;
}

body#options fieldset{
  border: none;
}
body#options legend{
  font-weight: bold;
  color: #666;
  border: none;
  padding-top: 10px;
  padding-left: 0px;
  margin: 0px;
}

a, a:visited {
  color:ButtonText;
}
a:hover {
  color: HighlightText;
  background-color: Highlight; 
  -webkit-border-radius: 2px;
}

.section{
  margin: 4px 0px;
}

#done_tasks .task:first-child{
  border-top: 1px groove Window;
}

#comments .comment:last-child{
  border-bottom: 1px groove Window;
}

.menu_item{
  display: block;
  text-decoration: none;
  padding: 6px 4px 4px 28px;
}

.comment{
  overflow: hidden;
  background: url('/images/comment.png') no-repeat 6px 6px;
}

.task {
  background: url('/images/task.png') no-repeat 6px 6px;
  white-space: nowrap;
  overflow-x: hidden;
}

/* Special styling for done tasks and tasks with alerts */
.task.red_flag{     background-image: url('/images/red_flag.png');    }
.task.yellow_flag{  background-image: url('/images/yellow_flag.png'); }
#done_tasks .task{  background-image: url('/images/done.png');       color: GrayText; }

.task .info,
.comment .info {
  font-size: 0.8em;
  white-space: nowrap;
  overflow-x: hidden;
}

.info { color: GrayText; }
#error, .error{ color: red; }
#loading{ 
  position: absolute; top: 0; right: 0;
  background: #bbb;
  color: #fff;
  padding: 0.4em;
}