body {
  font: 10pt Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body#popup{
  min-width: 357px;
  max-width: 400px;
}

body#options{
  margin: 2em;
}

#nav{
  font-size: smaller;
  text-align: center;
  width: 97px;
  margin: auto;
  -webkit-border-radius: 2px;
  border: 1px solid #AAB8CD;
}

#nav .tab{
  width: 48px;
  height: 16px;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#D9E6F6), color-stop(0.2, #D9E6F6), color-stop(0.8, #B9C8DE));
  cursor: pointer;
}

#nav .tab:hover,
#nav .tab.selected{
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E1EFFF), color-stop(0.2, #E1EFFF), color-stop(0.8, #C6D6EE));
}

#nav .tab + .tab{
  border-left: 1px solid #fff;
}

.message{
  color: GrayText;
}

#tasks, #done_tasks{
  margin: 4px 0px;
}

#done_tasks{
  border-top: 1px groove Window;
}

.menu_item{
  display: block;
  text-decoration: none;
  padding: 6px 4px 4px 28px;
}

.task {
  background: url('images/task.png') no-repeat 6px 6px;
  white-space: nowrap;
  overflow-x: hidden;
}

.task.red_flag{     background-image: url('images/red_flag.png');    }
.task.yellow_flag{  background-image: url('images/yellow_flag.png'); }
#done_tasks .task{  background-image: url('images/done.png'); color: GrayText; }

.task .info {
  font-size: smaller;
  color: GrayText;
}

a, a:visited {
  color:ButtonText;
}
a:hover {
  background-color: Highlight; color: HighlightText
}

.info { color: GrayText; }
.error{ color: red; }